<form  [formGroup]="form">
    <div class="container">
        <div class="card1">
            <div class="mb-5 mt-5">
                <label>Email</label>
                <input type="text" class="form-control" formControlName="email" placeholder="username" />
            </div>
            <div class="mb-5 mt-5">
                <label>password</label>
                <input type="password" class="form-control" formControlName="password" placeholder="password" />
            </div>
            <div>
                <button type="button" class="btn btn-outline-success loginButton" (click)="onLogin()">Login</button>
            </div>
        </div>
    </div>
</form>
