.card{
    width: 90rem;
    display: flex;
    margin-top: 0.5rem;
    padding: 0.5rem;
    margin-left: 0rem;

}
.searchOption{
    width: 30rem;
}
.imageNames{
    margin-top: 10px;
    margin-bottom: 10px;

}
.iconSearch{
    margin-top: -3.5rem;
    margin-left: 28rem;
}
.addButton{
    width: 6.5rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
      // margin-left: 19rem;
}
.logButton{
    width: 5rem;
    margin-top: -5rem;
    margin-left: 83em;
    margin-bottom: 2rem;
}
.dataDispaly{
    color: red;
}